@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* Raleway*/

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* общие стили */

*,
*::before,
*::after  {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  min-width: 1440px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки*/

/* Titles*/

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

/*Header*/

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.header-container {
  display: grid;
  grid-template-columns: 517px 1fr;
  row-gap: 30px;
  padding: 20px 60px 0 60px;
  background-image: linear-gradient( to bottom, #ffffff 22%, #FFE17F 22%);
}

.logo {
  display: block;
  grid-column: 1 / -1;
  width: 145px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:focus {
  outline: 1px solid #AF4FFF;
}

.logo:active {
  opacity: 0.3;
}

.search-form {
  display: flex;
}

.search-input {
  width: 359px;
  max-height: 40px;
  padding: 10px 10px 10px 48px;
  border-radius: 50px 0 0 50px;
  border: 2px solid #000000;
  border-right: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.search-input:focus {
  outline: 2px solid #AF4FFF;
}

.search-input:disabled {
  opacity: 0.3;
}

.search-button {
  width: 158px;
  max-height: 40px;
  padding: 0;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000000;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  cursor: pointer;
}

.search-button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.search-button:focus {
  outline: 1px solid #AF4FFF;
}

.search-button:active {
  background-color: #000000;
  color: #4c4c4c;
}

.search-button:disabled {
  opacity: 0.3;
}


.personal-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.personal-item {
  display: flex;
  align-items: center;
}

.personal-link {
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}


.personal-link:hover {
  opacity: 0.6;
}

.personal-link:focus {
  outline: 2px solid #AF4FFF;
}

.personal-link:active {
  opacity: 0.3;
}

.personal-login {
  margin-right: auto;

}

.login-link {
  padding-left: 27px;
  margin-right: 28px;
}

.logout-link {
  opacity: 0.3;
}

.personal-compare {
  min-width: 105px;
  margin-right: 18px;
}

.compare-link {
  padding-left: 22px;
}

.basket-link {
  padding-left: 28px;
}

.navigation {
  grid-column: 1 / -1;
}

.navigation-menu {
  display: flex;
  gap: 45px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.has-submenu {
  display: block;
  position: relative;
  margin-right: auto;
}

.has-submenu-link {
  padding: 15px 57px 15px 0;
}

.navigation-menu-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.navigation-menu-link:hover {
  opacity: 0.6;
}

.navigation-menu-link:focus {
  outline: 2px solid #AF4FFF;
}

.navigation-menu-link:active {
  opacity: 0.3;
}


.submenu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 18px 30px;
  position: absolute;
  left: -60px;
  z-index: 10;
  width: 1160px;
  height: 162px;
  margin: 0;
  padding: 15px 60px 27px 60px;
  list-style: none;
  background-color: #FFE17F;
}

.submenu-none {
  display: none;
}

.submenu-item {
  min-width: 210px;

}

.submenu-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

/* main */

 .main-container {
  flex-grow: 1;
}

/* Слайдер */

.slider {
  margin-bottom: 70px;
}

.slider-container {
  background-image: linear-gradient( to bottom, #FFE17F 24%, #ffffff 24%);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
}

.slider-item-active {
  display: flex;
}

.slider-image-wrapper {
  width: 560px;
  margin-right: 40px;
}

.slider-image {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.slider-button-wrapper {
  display: flex;
  cursor: pointer;
}

.slider-title {
  margin: 0;
  margin-top: 107px;
  margin-bottom: 29px;
}

.slider-description-wrapper {
  width: 560px;
}

.slider-text {
  margin: 0;
  margin-bottom: 50px;
}

.slider-link {
  display: block;
  width: 220px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
}

.slider-info {
  display: flex;
  gap: 20px;
  margin: 0;
  margin-top: auto;
  padding: 0;
  list-style: none;

}

.slider-info-value {
  margin: 0;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 30px;
  color: #000000;

}

.slider-info-property {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
}

/* Пагинация к слайду */

.slider-pagination {
  display: flex;
  list-style: none;
}

/* Основной каталог */

.catalog-main-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0;
  margin-bottom: 70px;
  padding: 0;
  list-style: none;
}

.catalog-main-item {
  width: 160px;
}

.catalog-main-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #000000;
  text-decoration: none;
}

/* Услуги */

.services {
  margin-bottom: 70px;
  background-color: #F0F0F0;
  background-image: linear-gradient( to bottom, #FFFFFF 36%, #F0F0F0 36%);
}

.services-container {
  display: flex;
  justify-content: space-between;
}

.services-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
  margin: 0;
  margin-right: 116px;
  padding: 64px 0;
  list-style: none;
}

.services-item {
  width: 287px;
  padding: 10px;
}

.services-active {
  color: #FFE17F;
  background-color: #000000;
}

.services-button {
  width: 160px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  color: #000000;
  text-align: center;
  background-color: #F0F0F0;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.services-button-active {
  background-color: #000000;
  color: #FFE17F;
}

.services-description {
  margin: 0;
  padding: 72px 63px 72px 0;
  list-style: none;
}

.services-description-item {
  display: none;
  width: 694px;
}

.services-description-active {
  display: flex;
  flex-direction: column;
}

.search-title {
  margin-bottom: 34px;
}

.services-text {
  padding-right: 242px;
}

/* Доставка под заказ */

.delivery {
  margin-bottom: 70px;
}

.delivery-button {
  width: 1160px;
  padding: 40px 125px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  background-color: #F0F0F0;
  border: none;
  cursor: pointer;
}

/* information */

.information {
  margin-bottom: 70px;
}

.information-container {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 520px;
  padding-top: 47px;
  padding-bottom: 52px;
}

.about-title {
  margin: 0;
  margin-bottom: 48px;
}

.about-text {
  margin: 0;
  margin-bottom: 30px;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.about-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
  text-decoration: none;
}

.about-detail {
  display: block;
  width: 270px;
  padding: 10px 6px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/* contacts */

.contacts {
  width: 532px;
  padding-top: 47px;
}

.contacts-title {
  margin: 0;
  margin-bottom: 48px;
}

.contacts-text {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-address {
  margin-bottom: 30px;
}

.contacts-address-text, .contacts-phone {
  font-style: normal;
  margin: 0;
}

.contacts-phone {
  text-decoration-line: underline;
  color: #444444;
}

.contacts-schedule {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.contacts-letter {
  display: block;
  width: 260px;
  padding: 10px 6px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/* subscribe */

.subscribe {
  background-color: #F0F0F0;
  padding-top: 64px;
  padding-bottom: 56px;
}

.subscribe-container {
  display: flex;
  flex-wrap: wrap;
  padding: 64px 133px 56px 0;
}

.subscribe-title  {
  width: 348px;
  margin: 0;
  margin-bottom: 144px;
}

.subscribe-text {
  width: 560px;
  margin: 0;
  margin-top: 10px;
  margin-left: auto;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  width: 557px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  padding: 11px 16px;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  color: #444444;
  background-color: transparent;
  opacity: 0.5;
}

.subscribe-button {
  width: 253px;
  padding: 18px 39px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  border: 3px solid #C4C4C4;
  color: #000000;
  cursor: pointer;
}

.subscribe-note {
  margin-left: auto;
  margin-right: 8px;
}

/* Подвал */

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
  padding: 62px 0;
}

.footer-container {
  display: flex;
}

.footer-logo-wrapper {
  width: 239px;
  margin-right: 119px;
}

.footer-logo-wrapper .logo {
  display: block;
  margin-bottom: 35px;
}

.footer-contacts-address-text {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}

.footer-menu-wrapper {
  display: flex;
  flex-direction: column;
  width: 444px;
  padding-top: 75px;
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  list-style: none;
}

.footer-menu-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  background-position: center;
}

.social-link-telegram {
  background-image: url("../images/index/tg.svg");
  background-repeat: no-repeat;
}

.social-link-youtube{
  background-image: url("../images/index/youtube.svg");
  background-repeat: no-repeat;
}

.social-link-twitter{
  background-image: url("../images/index/twitter.svg");
  background-repeat: no-repeat;
}

.footer-contacts-wrapper {
  width: 200px;
  margin-left: auto;
  padding-top: 78px;
}

.footer-contacts-phone {
  display: inline-block;
  margin-bottom: 63px;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.htmlacademy-link {
  display: flex;
  justify-content: flex-end;
}

/* Breadcrumbs */

.inner-header {
  margin-bottom: 34px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  gap: 36px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

/* catalog-products */

.catalog-products {
  background-color: #F0F0F0;
}

.catalog-products-container {
  display: flex;
}

/* Фильтр */

.filter-catalog {
  width: 320px;
  padding: 25px 40px 25px 60px;
}

.filter-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 72px;
}

.filter-catalog-group {
  margin: 0;
  margin-bottom: 47px;
  padding: 0;
  border: none;
}

.filter-catalog-group:last-of-type {
  margin-bottom: 35px;
}

.legend-name {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
  padding: 0;
  padding-top: 12px;
  margin-bottom: 20px;
}

.price-text {
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}

.filter-catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-catalog-item:not(:last-child) {
  margin-bottom: 17px;
}

.control {
  padding-left: 36px;
}

.control-label {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.button-submit {
  width: 220px;
  padding: 10px 5px;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}

.catalog-right-column {
  width: 840px;
}

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px;
}

.sorting-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-right: 206px;
}

.select-control {
  min-width: 139px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  border: none;
  background-color: transparent;
}

.sorting-list {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.sorting-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-image: url("../images/catalog/sort.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sort-up {
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

/* Список товаров */

.catalog-container {
  padding: 70px 40px 0 40px;
  background-color: #ffffff;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  list-style: none;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  gap: 44px 40px;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.product-link {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.product-image {
  margin-bottom: 32px;
}

.product-text-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-text {
  max-width: 226px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin: 0;
}

.product-price {
  margin: 0;
}

.download-button {
  display: block;
  width: 100%;
  padding: 18px 39px;
  margin-bottom: 44px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid #e5e5e5;
}

/* ПАГИНАЦИЯ */

.catalog-pagination {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 15px 25px;
  list-style: none;
  background-color: #EBEBEB;
}

.catalog-pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
}

.catalog-pagination-item:first-child {
  margin-right: auto;
}

.catalog-pagination-item:last-child {
  margin-left: auto;
}

.catalog-pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.pagination-disabled {
  color: #444444;
  opacity: 0.3;
}

.catalog-pagination-name {
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  color: #000000;
  opacity: 1;
}

.catalog-pagination-link-current {
  opacity: 0.6;
}
