@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

/* Raleway*/
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* общие стили */

*,
*::before,
*::after  {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  min-width: 1440px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #FFFFFF;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки*/


/* Titles*/

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}

/*Header*/

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.page-header {
  background-color: #FFE17F

}

.header-container {
  display: grid;
  grid-template-columns: 517px 1fr;
  /*grid-template-rows: ;*/
  row-gap: 30px;
  padding: 20px 60px 0 60px;


}

.logo {
  display: block;
  grid-column: 1 / -1;
  width: 145px;
}

.search-form {
  display: flex;
}

.search-input {
  width: 359px;
  max-height: 40px;
  padding: 10px 10px 10px 48px;
  border-radius: 50px 0 0 50px;
  border: 2px solid #000000;
  border-right: none;
  background-color: rgba(255, 255, 255, 0.00);
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.search-button {
  width: 158px;
  max-height: 40px;
  padding: 0;
  border-radius: 0 50px 50px 0;
  border: 2px solid #000000;
  background-color: rgba(255, 255, 255, 0.00);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.personal-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.personal-item {
  display: flex;
  align-items: center;
}

.personal-link {
  display: block;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  text-decoration: none;

}

.personal-login {
  margin-right: auto;

}

.login-link {
  padding-left: 27px;

}

.personal-compare {
  min-width: 105px;
  margin-right: 18px;
}

.compare-link {
  padding-left: 22px;
}

.personal-basket {
}

.basket-link {
  padding-left: 28px;

}

.navigation {
  grid-column: 1 / -1;
}

.navigation-menu {
  display: flex;
  gap: 45px;
  margin: 0;
  padding: 0;
  list-style: none;
}



.has-submenu {
  margin-right: auto;
}

.has-submenu-link {
  padding: 15px 57px 15px 0;

}

.navigation-menu-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.submenu-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

/* main */

 .main-container {
  flex-grow: 1;
 }

/* Слайдер */



.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;

}

.slider-item {
  display: none;

}

.slider-item-current {
  display: flex;

}




.slider-image-wrapper {
  width: 560px;
  margin-right: 40px;
}

.slider-description-wrapper {
  width: 545px;
}

.slider-text {


}

.slider-link {
  text-align: center;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
}




.slider-info {
  margin: 0;
  padding: 0;
  list-style: none;

}

.slider-info-value {
  font-size: 36px;
  line-height: 30px;
  color: #000000;

}

.slider-info-property {
  font-size: 16px;
  line-height: 30px;
}

/* Пагинация к слайду */

.slider-pagination {
  display: flex;
  list-style: none;
}

/* Основной каталог */

.catalog-main-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;

}

.catalog-main-item {
  width: 160px;
}

.catalog-main-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  color: #000000;
  text-decoration: none;
}

/* Услуги */

.services {
  background-color: #F0F0F0;
}

.services-container {
  display: flex;
  justify-content: space-between;
}

.services-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
  margin: 0;
  padding: 0;
  list-style: none;

}

.services-item {
  width: 280px;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
}

.services-current {
  color: #FFE17F;
  background-color: #000000;
}

.services-description {
  margin: 0;
  padding: 0;
  list-style: none;

}

.services-description-item {
  display: none;
  width: 694px;
}

.services-description-current {
display: flex;
flex-direction: column;

}

.delivery-button {

  width: 1160px;
  padding: 40px 125px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  background-color: #F0F0F0;

}


/* information */

.information-container {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 520px;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;
  text-decoration: none;
}

.about-detail {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

}


/* contacts */

.contacts {
  width: 532px;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.contacts-address-text, .contacts-phone {
  font-style: normal;
}

.contacts-phone {
  text-decoration-line: underline;
  color: #444444;

}

.contacts-letter {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}


/* subscribe */

.subscribe {
  background-color: #F0F0F0;
  padding-top: 64px;
  padding-bottom: 56px;
}

.subscribe-container {
  display: flex;
  flex-wrap: wrap;
}

.subscribe-title  {
  width: 348px;
  margin: 0;
}

.subscribe-text {
  width: 560px;
  margin: 0;
  margin-left: auto;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  width: 557px;
  padding: 11px 16px 14px 16px;
  margin: 0;
  border: none;
  border-bottom: 3px solid #C4C4C4;;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.subscribe-button {
  pad: 18px 39px;
  border: 3px solid #C4C4C4;
  font-family:  "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-note {
  margin-left: auto;
}

/* Подвал */

.page-footer {
  background-color: #444444;
  color: #FFFFFF;

}

.footer-container {
  display: flex;
}

.footer-logo-wrapper {
  width: 240px;
}

.footer-contacts-address {
  font-style: normal;
}

.footer-menu-wrapper {
  display: flex;
  flex-direction: column;

  width: 580px;
}

.footer-menu-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-contacts-wrapper {
  width: 200px;
}

.footer-contacts-phone {
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #FFFFFF;
}





/* Breadcrumbs */

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;

}

/* Фильтр background-color: #F0F0F0;
*/

.filter-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;

}

.legend-name {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: #000000;

}

.price-text {
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}

.filter-catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.control-label {
  font-size: 16px;
  line-height: 20px;
  color: #000000;

}

.button-submit {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}



.sorting {
  background-color: #F0F0F0;

}

.sorting-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Список товаров */

.catalog-container {
  padding: 70px 40px 0 40px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  list-style: none;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  gap: 44px 40px;

}

.product-card {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.product-link {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.product-image {
  margin-bottom: 32px;
}

.product-text-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-text {
  max-width: 226px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin: 0;
}

.product-price {
  margin: 0;

}

.download-butter {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

/* ПАГИНАЦИЯ */

.catalog-pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #EBEBEB;

}




.catalog-pagination-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.pagination-disabled {
  color: #444444;
  opacity: 0.3;
}

.catalog-pagination-name {
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  color: #000000;
  opacity: 1;
}

.pagination-disabled {
  color: #444444;
  opacity: 0.3;
}

.catalog-pagination-link-current {
  opacity: 0.6;
}








/*.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  color: #000000;
}


/* .button

  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;*/
